.edit-logo {
	height: 25px;
	width: 25px;
	margin-left: 10px;
	position: relative;
	margin-left: 400px;
}

.delete-logo {
	height: 25px;
	width: 25px;
	margin-left: 10px;
	position: relative;
}

.message-window {
	position: absolute;
	top: 75px;
	top-padding: 50px;
	bottom: 100px;
	bottom-padding: 100px;
	left: 5px;
}

.speech-bubble {
	margin-left: 20px;
	display: inline;
	padding: 10px;
	position: absolute;
	background: #91d3db;
	border-radius: .4em;
	width: 350px;
	word-wrap: break-word;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #91d3db;
	border-left: 0;
	margin-top: -10px;
	margin-left: -10px;
}

.avatar-image {    
    /* make a square container */
    width: 50px;
    height: 50px;
    padding-left: 10px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}

.no-display {
	display: none;
}

.message-counter {
	position: fixed;
	top: 5px;
	left: 5px;
	background-color: lightgrey;
	padding: 0 20px 2px 20px;
	width: 500px;
	height: 40px;
	z-index: 100;
	border-radius: 25px;
}

#text-input {
	position: fixed;
	bottom: 5px;
	left: 5px;
	width: 500px;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 30px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
  	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  	border: 2px solid $light-grey;
  	border-radius: 40px;
  	height: 40px;
  	padding: 0 11px;
  	font-size: 14px;
  	display: flex;
  	align-items: center;
  	overflow: hidden;
  	color: $dark-grey;
}
